<!DOCTYPE html>
<!-- Note: IntelliJ has problems with width, ... in jQuery .html() -->
<!--suppress CssUnknownProperty -->
<html lang="en">
<head>
    <!-- Twitter stuff -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@btobastian" />
    <meta name="twitter:title" content="<%= plugin.name %> | bStats" />
    <meta name="twitter:description" content="Statistics about <%= plugin.name %>!" />
    <meta name="twitter:image" content="https://bstats.org/images/Twitter.jpg" />

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Some stats about <%= plugin.name %>.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - <%= plugin.name %></title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>

    <!-- Flags for the map -->
    <link rel="stylesheet" type="text/css" href="https://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<body>
<% include templates/navigation.ejs %>
<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            <br><br>
            <h1 class="header center <%= customColor1 %>-text truncate">
                <%= plugin.name %>
                <% if (isOwner || (user != null && user.admin)) { %>
                <a href="/editPlugin/<%= software.url %>/<%= plugin.name %>"><sup><i title="Edit plugin settings" class="material-icons small">build</i></sup></a>
                <% } %>
            </h1>
            <div class="row center">
                <h5 class="header col s12 light authorbox">by <%= plugin.owner %></h5>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l4 offset-l2">
            <div class="card-panel <%= customColor1 %>">
                <span class="white-text"><i class="material-icons left">storage</i><b id="serversBadge">Servers (Current/Record): loading...</b></span>
            </div>
        </div>
        <div class="col s12 m6 l4">
            <div class="card-panel <%= customColor1 %>">
                <span class="white-text"><i class="material-icons left">people</i><b id="playersBadge">Players (Current/Record): loading...</b></span>
            </div>
        </div>
    </div>
    <br><br>

    <div id="charts" class="row">
        <!-- Charts get added afterwards using jQuery -->
    </div>

    <div class="center">
        Charts powered by <a href="http://highcharts.com">Highcharts</a>
        <br/>
        <br/>
    </div>

    <script type="application/javascript">
        $.getJSON('/api/v1/plugins/<%= plugin.id %>/charts', function (charts) {
            var chartIdsSorted = Object.keys(charts).sort(function(a,b){return charts[a].position-charts[b].position});
            var previousRowWasFull = true;
            for (var i = 0; i < chartIdsSorted.length; i++) {
                var chartId = chartIdsSorted[i];
                if (!charts.hasOwnProperty(chartId)) {
                    continue;
                }
                var chart = charts[chartId];

                var nextChartIsCompleteRow = true;
                if (chartIdsSorted.length > i + 1) {
                    var nextChartId = chartIdsSorted[i + 1];
                    if (charts.hasOwnProperty(nextChartId)) {
                        var nextChart = charts[nextChartId];
                        switch (nextChart.type) {
                            case 'simple_pie':
                            case 'advanced_pie':
                            case 'drilldown_pie':
                                nextChartIsCompleteRow = false;
                                break;
                            case 'single_linechart':
                            case 'simple_map':
                            case 'advanced_map':
                            case 'simple_bar':
                            case 'advanced_bar':
                                nextChartIsCompleteRow = true;
                                break;
                            default:
                                break;
                        }
                    }
                }

                var jQueryChart = $('#charts');
                switch (chart.type) {
                    case 'simple_pie':
                    case 'advanced_pie':
                    case 'drilldown_pie':
                        var colWidth = "s12 m12 l12 xl12";
                        if (previousRowWasFull && nextChartIsCompleteRow) {
                            colWidth = "s12 m12 l12 xl12";
                            previousRowWasFull = true;
                        } else if (!previousRowWasFull) {
                            colWidth = "s12 m6 l6 xl5";
                            previousRowWasFull = true;
                        } else if (!nextChartIsCompleteRow) {
                            colWidth = "s12 m6 l6 xl5 offset-xl1";
                            previousRowWasFull = false;
                        }
                        jQueryChart.html(jQueryChart.html() + '<div id="' + chartId + '" class="col ' + colWidth + '"><div id="' + chartId + 'Pie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div></div>');
                        break;
                    case 'single_linechart':
                        jQueryChart.html(jQueryChart.html() + '<div id="' + chartId + '" class="col s12"><div id="' + chartId + 'LineChart" class="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div><br><br></div>');
                        previousRowWasFull = true;
                        break;
                    case 'simple_map':
                    case 'advanced_map':
                        jQueryChart.html(jQueryChart.html() + '<div id="' + chartId + '" class="col s12"><div id="' + chartId + 'Map" class="container" style="min-width: 310px; height: 600px; margin: 0 auto"></div><br><br></div>');
                        previousRowWasFull = true;
                        break;
                    case 'simple_bar':
                    case 'advanced_bar':
                        jQueryChart.html(jQueryChart.html() + '<div id="' + chartId + '" class="col s12"><div id="' + chartId + 'Bar" class="container" style="min-width: 310px; margin: 0 auto"></div><br><br></div>');
                        previousRowWasFull = true;
                        break;
                    default:
                        break;
                }
            }
            if (window.location.hash) { // Scroll to anchor
                $('html,body').animate({
                    scrollTop: $(window.location.hash).offset().top
                }, 2000);
            }
        });
    </script>

</main>
<% include templates/footer.ejs %>

<!-- Scripts -->

<!-- Materialize -->
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>
<!-- Charts -->
<script src="https://code.highcharts.com/stock/6.0.1/highstock.js"></script>
<script src="https://code.highcharts.com/maps/6.0.1/modules/map.js"></script>
<script src="https://code.highcharts.com/6.0.1/modules/exporting.js"></script>
<script src="https://code.highcharts.com/6.0.1/modules/no-data-to-display.js"></script>
<script src="https://code.highcharts.com/6.0.1/modules/drilldown.js"></script>
<script src="https://code.highcharts.com/maps/6.0.1/modules/data.js"></script>
<script src="https://code.highcharts.com/mapdata/custom/world.js"></script>
<script src="/javascripts/charts/themes/chartTheme.js"></script>
<script src="/javascripts/charts/charts.js"></script>
<script type="application/javascript">
    function getPluginId() {
        return "<%= plugin.id %>";
    }

    function updatePlayersBadge(data) {
        let current = data[data.length-1][1];
        let record = 0;
        for (let i = 0; i < data.length; i++) {
            record = data[i][1] > record ? data[i][1] : record;
        }
        $('#playersBadge').html(`Players (Current/Record): ${current} / ${record}`);
    }

    function updateServersBadge(data) {
        let current = data[data.length-1][1];
        let record = 0;
        for (let i = 0; i < data.length; i++) {
            record = data[i][1] > record ? data[i][1] : record;
        }
        $('#serversBadge').html(`Servers (Current/Record): ${current} / ${record}`);
    }
</script>

<% include templates/globalScripts.ejs %>

</body>
</html>
