<!-- Side navigation -->
<ul id="slide-out" class="side-nav">
    <li>
        <div class="userView" style="min-height: 176px">
            <img class="background" src="/images/cover.jpg">
            <img class="circle" src="/images/steve.jpg">
            <% if (loggedIn) { %>
            <span class="white-text name"><%= user.username %></span>
            <span class="white-text email"> </span>
            <% } else { %>
            <span class="white-text name">Steve</span>
            <span class="white-text email">steve@minecraft.net</span>
            <% } %>
        </div>
    </li>
    <!-- Mobile navigation (hide on desktop) -->
    <% if (loggedIn) { %>
    <div class="hide-on-med-and-down">
        <li><a class="subheader"><i class="material-icons left" style="font-size: 30px">near_me</i>Navigation</a></li>
        <li><a href="/plugin/1337/random">Random plugin</a></li>
        <li><a href="/plugin-list">Plugin list</a></li>
        <li>
            <div class="divider"></div>
        </li>
    </div>
    <% } %>
    <div class="hide-on-large-only">
        <li><a class="subheader"><i class="material-icons left" style="font-size: 30px">near_me</i>Navigation</a></li>
        <li><a href="/plugin/1337/random">Random plugin</a></li>
        <li><a href="/plugin-list">Plugin list</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader"><i class="material-icons left" style="font-size: 30px">language</i>Global stats</a></li>
        <% for (var i = 0; i < allSoftware.length; i++) { %>
        <% if (allSoftware[i].globalPlugin) { %>
        <li><a href="/global/<%= allSoftware[i].url %>"><%= allSoftware[i].name %></a></li>
        <% } %>
        <% } %>
        <li>
            <div class="divider"></div>
        </li>
    </div>
    <li><a class="subheader"><i class="material-icons left" style="font-size: 30px">person</i>Account</a></li>
    <% if (loggedIn) { %>
    <li><a class="waves-effect" href="/logout">Logout</a></li>
    <li><a class="waves-effect" href="/add-plugin">Add plugin</a></li>
    <% } else { %>
    <li><a class="waves-effect" href="/login">Login</a></li>
    <li><a class="waves-effect" href="/register">Create new account</a></li>
    <% } %>
    <% if (loggedIn && myPlugins.length > 0) { %>
    <div class="hide-on-large-only">
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader"><i class="material-icons left" style="font-size: 30px">content_paste</i>My Plugins</a>
        </li>
        <% for (var i = 0; i < myPlugins.length; i++) { %>
        <li><a class="waves-effect truncate" href="/plugin/<%= myPlugins[i].software.url %>/<%= myPlugins[i].name %>"><%= myPlugins[i].name %> (<%= myPlugins[i].software.name %>)</a></li>
        <% } %>
    </div>
    <% } %>
    <li>
        <div class="divider"></div>
    </li>
    <li><a class="subheader"><i class="material-icons left" style="font-size: 30px">star</i>Credits</a></li>
    <li><a class="waves-effect" href="https://fastvm.io/">FastVM</a></li>
    <li><a class="waves-effect" href="/credits">Credits page</a></li>
</ul>

<!-- My plugins dropdown -->
<ul id="dropdownMyPlugins" class="dropdown-content">
    <% if (loggedIn) { %>
    <% for (var i = 0; i < myPlugins.length; i++) { %>
    <li><a href="/plugin/<%= myPlugins[i].software.url %>/<%= myPlugins[i].name %>" class="truncate <%= customColor1 %>-text"><%= myPlugins[i].name %> (<%= myPlugins[i].software.name %>)</a></li>
    <% } %>
    <% } %>
</ul>

<!-- Global stats dropdown -->
<ul id="dropdownGlobalStats" class="dropdown-content">
    <% for (var i = 0; i < allSoftware.length; i++) { %>
    <% if (allSoftware[i].globalPlugin) { %>
    <li><a href="/global/<%= allSoftware[i].url %>" class="truncate <%= customColor1 %>-text"><%= allSoftware[i].name %></a></li>
    <% } %>
    <% } %>
</ul>

<!-- Account -->
<ul id="dropdownAccount" class="dropdown-content">
    <% if (loggedIn) { %>
    <li><a href="/logout" class="truncate <%= customColor1 %>-text">Logout</a></li>
    <% } else { %>
    <li><a href="/register" class="truncate <%= customColor1 %>-text">Register</a></li>
    <li><a href="/login" class="truncate <%= customColor1 %>-text">Login</a></li>
    <% } %>
</ul>

<nav class="<%= customColor1 %> darken-3" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo left hide-on-med-and-down tooltipped" data-position="right" data-delay="5000" data-tooltip="You found a secret tooltip!">bStats</a>
        <a id="logo-container" href="/" class="brand-logo hide-on-large-only">bStats</a>
        <!-- "Normal" Navigation (only show on desktop) -->
        <ul class="right hide-on-med-and-down">
            <% if (loggedIn && myPlugins.length > 0) { %>
            <li><a href="/add-plugin">
                    <i class="material-icons left" style="font-size: 30px">add</i>Add plugin
                </a></li>
            <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-constrainwidth="false" data-hover="true" data-activates="dropdownMyPlugins">
                    <i class="material-icons left" style="margin-right: 0px; font-size: 30px">arrow_drop_down</i>My Plugins
                </a></li>
            <% } else if (loggedIn) { %>
            <li><a href="/add-plugin">
                    <i class="material-icons left" style="font-size: 30px">add</i>Add plugin
                </a></li>
            <% } else { %>
            <li><a href="/plugin/1337/random">
                    <i class="material-icons left" style="font-size: 30px">shuffle</i>Random plugin
                </a></li>
            <% } %>
            <li><a href="/plugin-list">
                    <i class="material-icons left" style="font-size: 30px">list</i>Plugin list
                </a></li>
            <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-hover="true" data-activates="dropdownGlobalStats">
                    <i class="material-icons left" style="font-size: 30px">language</i>Global stats
                </a></li>
            <li><a class="dropdown-button" href="#!" data-beloworigin="true" data-hover="true" data-activates="dropdownAccount">
                    <i class="material-icons left" style="font-size: 30px">account_circle</i>Account
                </a></li>
        </ul>

        <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
