<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="Examples for custom charts.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Custom Charts</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="container">
        <br>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="center <%= customColor1 %>-text">Basics</h3>
                    Adding charts to your plugin consists of two parts:<br>
                    <ul class="browser-default" style="padding-left: 25px">
                        <li>Adding charts to your code</li>
                        <li>Adding charts on the website</li>
                    </ul>
                    To add a chart on the website, login and click on the Edit-button on your plugin page:
                    <br>
                    <img src="https://i.imgur.com/dhUF0zc.png" style="border:1px solid gray;width:100%;height:100%;max-width:373px;max-height:135px">
                    <br>
                    and add your chart:
                    <br>
                    <img src="https://i.imgur.com/DKbsXZ9.png" style="border:1px solid gray;width:100%;height:100%;max-width:1183px;max-height:497px">
                    <br>
                    Pretty easy, isn't it?
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="center <%= customColor1 %>-text">Pies</h3>
                    <div class="row">
                        <div id="onlineMode" class="col s12">
                            <div id="onlineModePie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                    </div>
                    A <b>Simple Pie</b> is the most basic chart type. It's a great option for config settings as it only accepts
                    one value per server. Adding the chart to your code is fairly easy:
                    <script src="https://gist.github.com/BtoBastian/6ed19dae0322881af4f3dab87075397f.js"></script>
                    If you need a pie with more options there's the <b>Advanced Pie</b> which allows you to send more than one value.
                    You can also give the values different 'weights'. There are very few cases in which you need this type of pie, so
                    I'm sorry for this bad example:
                    <script src="https://gist.github.com/BtoBastian/b47279b4ff792153480b50ad0945c963.js"></script>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="center <%= customColor1 %>-text">Drilldown Pies</h3>
                    <div class="row">
                        <div id="os" class="col s12">
                            <div id="osPie" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
                        </div>
                    </div>
                    A <b>Drilldown Pie</b> is the most fancy pie chart. It's a great choice for displaying complex data which
                    would look like a mess, if a normal pie would be used. Creating one is sadly a little bit ugly, because
                    of it's complexity:
                    <script src="https://gist.github.com/BtoBastian/b35de0cfe951f2d7cacabf65762bfb3d.js"></script>
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="center <%= customColor1 %>-text">Line Charts</h3>
                    <div class="row">
                        <div id="players">
                            <div id="playersLineChart" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
                        </div>
                    </div>
                    A <b>Single Line Chart</b> is exactly what the name says: A line chart with only one line. An example for
                    this type of chart is the servers or players chart every plugin has. Implementing a Single Line Chart is
                    as simple as implementing a Simple Pie chart:
                    <script src="https://gist.github.com/BtoBastian/ea8804db0479c539153f53f1561cc7d3.js"></script>
                    Now it's your turn. What do you think is a <b>Multi Line Chart</b>? Right! A line chart with multiple lines:
                    <script src="https://gist.github.com/BtoBastian/4445ea82bc921dfef82de90b535deb3e.js"></script>
                    (Note: Multi Line Charts are still in development)
                </div>
            </div>
        </div>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <h3 class="center <%= customColor1 %>-text">Bar charts</h3>
                    <div class="row">
                        <div id="example" class="col s12">
                            <div id="exampleBar" style="min-width: 310px; margin: 0 auto"></div>
                        </div>
                    </div>
                    <p>A <b>Simple Bar Chart</b> represents a bar chart, where each category only has 1 bar. The
                    first value of the map is the category name and the second value of the map is the value of the bar (most of the time you want it to be 1).</p>
                    <p>An <b>Advanced Bar Chart</b> represents a bar chart, where each category can have multiple bars (defined at the creation).
                    The first value of the map is the category name and the second value of the map are the values for the bars.
                    The example you can see above is an advanced pie chart.</p>
                    <script src="https://gist.github.com/BtoBastian/474cf7eb3c2997d3cab73e560dce0caa.js"></script>
                </div>
            </div>
        </div>
    </div>
</main>
<% include ../templates/footer.ejs %>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Materialize -->
<script src="/javascripts/materialize/materialize.min.js"></script>
<script src="/javascripts/materialize/init.js"></script>
<!-- Charts -->
<script src="https://code.highcharts.com/stock/6.0.1/highstock.js"></script>
<script src="https://code.highcharts.com/maps/6.0.1/modules/map.js"></script>
<script src="https://code.highcharts.com/6.0.1/modules/exporting.js"></script>
<script src="https://code.highcharts.com/6.0.1/modules/no-data-to-display.js"></script>
<script src="/javascripts/charts/themes/chartTheme.js"></script> <!-- The chart theme -->
<script src="/javascripts/charts/charts.js"></script> <!-- The charts -->
<script type="application/javascript">
    function getPluginId() {
        return '1';
    }
    Highcharts.wrap(Highcharts.Chart.prototype, 'getContainer', function (proceed) {
        proceed.call(this);
        this.container.style.background = '';
    });

    var data = {
        valueName: 'Servers',
        categories: ['Feature 1', 'Feature 2'],
        series: [{
            name: 'disabled',
            data: [1337, 226]
        }, {
            name: 'enabled',
            data: [123, 1234]
        }]
    }
    $('#exampleBar').highcharts({
        chart: {
            type: 'bar',
            renderTo: 'container',
            marginTop: 40,
            marginBottom: 80,
            height: data.categories.length * data.series.length * (30 + data.series.length * 15) + 120 // 20px per data item plus top and bottom margins
        },
        title: {
            text: '<a href="#example" style="text-decoration: none; color: inherit;">Example Bar Chart</a>'
        },
        plotOptions: {
            bar: {
                dataLabels: {
                    enabled: true
                }
            },
            series: {
                pointWidth: 25
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size: 18px"><u><b>{point.key}</b></u></span><br/>',
            pointFormat: '<b>Total</b>: {point.y} ' + data.valueName
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'top',
            x: -40,
            y: 80,
            floating: true,
            borderWidth: 1,
            backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
            shadow: true
        },
        exporting: {
            enabled: false
        },
        yAxis: {
            min: 0,
            title: {
                text: data.valueName,
                align: 'high'
            },
            labels: {
                overflow: 'justify'
            }
        },
        xAxis: {
            categories: data.categories
        },
        series: data.series
    });
</script>

<script type="application/javascript">
    function getPluginId() {
        return "1";
    }

    function updatePlayersBadge(data) {
    }

    function updateServersBadge(data) {
    }
</script>

<% include ../templates/globalScripts.ejs %>

</body>
</html>
