<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content="The metrics class.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>bStats - Metrics class</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../../../../../../stylesheets/materialize.min.css" type="text/css" rel="stylesheet"
          media="screen,projection"/>
    <link href="../../../../../../stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>

<% include ../templates/navigation.ejs %>
<main>
    <div class="container">

        <br>
        <% if (addedPlugin) { %>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <b>You successfully added your plugin!</b><br>
                    If you haven't done it already you now have to add the following code to your plugin:
                </div>
            </div>
        </div>
        <% } %>
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <p>Select your server software:</p>
                    <ul class="collapsible" data-collapsible="accordion">
                        <% for (var i = 0; i < software.length; i++) {%>
                        <li>
                            <div class="collapsible-header"><i class="material-icons">code</i><%= software[i].name %></div>
                            <div class="collapsible-body">
                                <script src="<%= software[i].classCreation %>.js"></script>
                                &nbsp;&nbsp;Add the following class to your plugin (<a id="btn_copy_metrics_<%= software[i].url %>" href="#">Copy to clipboard</a>)
                                <script src="<%= software[i].metricsClass %>.js"></script><br>
                            </div>
                        </li>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</main>
<% include ../templates/footer.ejs %>

<!-- Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="../../../../../../javascripts/materialize/materialize.min.js"></script>
<script src="../../../../../../javascripts/materialize/init.js"></script>
<!-- -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.13/clipboard.min.js"></script>

<script type="application/javascript">
    function nthIndexOf(str, pattern, n) {
        var i = -1;

        while (n-- && i++ < str.length) {
            i = str.indexOf(pattern, i);
            if (i < 0) break;
        }

        return i;
    }

    <% for (var i = 0; i < software.length; i++) { %>
        var clipboard = new Clipboard('#btn_copy_metrics_<%= software[i].url %>');
        var gistId = '<%= software[i].metricsClass %>';
        gistId = gistId.substring(gistId.lastIndexOf('/') + 1);
        $.ajax({ url: 'https://api.github.com/gists/' + gistId, success: function(data) {
            for (var fileName in data.files) {
                $('#btn_copy_metrics_<%= software[i].url %>').attr('data-clipboard-text', data.files[fileName].content);
            }
        }});
    <% } %>
</script>

</body>
</html>
